body {
    margin: 0;
    overflow: hidden;
    font-family: Arial, sans-serif;
}

#canvas {
    position: absolute;
    top: 0;
    left: 0;
}

#gravityControls {
    position: absolute;
    top: 10px;
    right: 10px;
    background-color: rgba(255, 255, 255, 0.9);
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    z-index: 1000;
}

#gravityControls label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#gravityControls select {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border-radius: 3px;
    border: 1px solid #ccc;
}

#neuroscienceContent {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow-y: auto;
    background-color: white;
    color: black;
    z-index: 500; /* Abaixo dos controles de gravidade, mas acima do canvas */
    padding: 20px;
    box-sizing: border-box;
}

.section {
    margin-bottom: 50px;
}

.section h2 {
    font-size: 24px;
    margin-bottom: 10px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

.section p {
    font-size: 16px;
    line-height: 1.5;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 0.5s ease-out, transform 0.5s ease-out;
}

#neuroscienceContent::-webkit-scrollbar {
    width: 10px;
}

#neuroscienceContent::-webkit-scrollbar-thumb {
    background: rgba(0, 0, 0, 0.5);
    border-radius: 10px;
}

#neuroscienceContent::-webkit-scrollbar-track {
    background: rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}